* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
}

    /* NAVBAR */
.navbar {
  background: brown;
  color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
  }
.nav-menu {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.nav-menu a:hover {
  text-decoration: underline;
}
    
.link {
 text-align: center;
 margin-top: 10px;
 font-size: 14px;
 }

.link a {
  color: #2563eb;
 cursor: pointer;
 font-weight: bold;
}
 .navbar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}
.navbar .logo a::before{
  content: '';
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
}

.nav-right a,
.login-btn {
  color: white;
  margin-left: 20px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* slider*/
.hero {
    height: 500px;
    background: url('./image/3.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
    text-align: center;
    color: white;
    text-shadow: 0 2px 5px black;
}
.hero-text h2 {
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 600;
}
.hero-text p {
    margin-top: 10px;
    font-size: 20px;
    font-family: initial;
}

/*card in index*/
.top {
  padding: 60px 20px;
  background: #fff;
  font-family: Great Vibes,cursive;
  text-align: center;
  color:#3b2c25;
}
.card,
.card-list,
.hero,
.top {
  position: relative;
  z-index: 1;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.card {
  min-width: 10px;
  height: 360px;
  background: #d0b8b8;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: fill;
  border-radius: 15px;
}

.card h4 {
  color: brown;
  margin: 10px 0 5px;
  margin: 12px 0 5px;
}

.price {
  color: brown;
  font-weight: bold;
}

.add-btn {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: brown;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* hide filter */
.card.hide {
  display: none;
}

/* menu active */
.menu-item.active img {
  border: 3px solid brown;
}

.cart {
  position: fixed;
  top: 80px;
  right: 20px;
  background: brown;
  color: white;
  padding: 10px 16px;
  border-radius: 20px;
  font-weight: bold;
}
.cart-nav {
  background: white;
  color: brown;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

/*menu menu.html*/
.top-card {
  
  font-family: Great Vibes,cursive;
  text-align: center;
  color:#3b2c25;
}

.cards-list {
   display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
  overflow-x: auto;
 padding-bottom: 20px;
}

.card-item {
  min-width: 100px;
  height: 400px;
  background: white;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  position: relative;
}

.card-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.card-item h4 {
  color: brown;
  margin: 10px 0 5px;
  margin: 12px 0 5px;
}

.price {
  color: brown;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-btn {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: brown;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* hide filter */
.card.hide {
  display: none;
}

/* menu active */
.menu-item.active img {
  border: 3px solid brown;
}

.cart {
  position: fixed;
  top: 80px;
  right: 20px;
  background: brown;
  color: white;
  padding: 10px 16px;
  border-radius: 20px;
  font-weight: bold;
}
.cart-nav {
  background: white;
  color: brown;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}



.cart-icon {
  cursor: pointer;
}

.side-cart {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  z-index: 2000;
}

.side-cart.open {
  right: 0;
}

.cart-header, .cart-footer {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.cart-items {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.qty button {
  padding: 2px 6px;
}

.checkout {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.products {
  padding: 20px;
  display: flex;
  gap: 20px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(6px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-box {
  background: white;
  width: 360px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  position: relative;
  animation: slideUp 0.4s;
}

.modal-box input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}
/*in login*/
/* Forgot */
.forgot {
  text-align: right;
  margin-bottom: 12px;
}

.forgot a {
  font-size: 13px;
  text-decoration: none;
  color: #555;
}

/* Button */
.main-btn {
  width: 100%;
  padding: 12px;
  background: #111;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main-btn:hover {
  background: #333;
}

/* Success */
.success {
  display: none;
  color: green;
  margin-top: 10px;
  font-weight: bold;
}

/* Switch */
.switch {
  margin-top: 15px;
  font-size: 14px;
}

.switch span {
  font-weight: bold;
  cursor: pointer;
}

/* Close */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

/* Animation */
@keyframes slideUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
/*footer*/
.footer {
  background: brown; 
  padding: 10px 0;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  width: 22%;
  min-width: 100px;
  margin-bottom: 25px;
  font-family: initial;
  font-size: 18px;
}
.footer-col h2,
.footer-col h3 {
  margin-bottom: 15px;
  font-weight: 600;
}
.footer-btn {
  padding: 10px 20px;
  background: #e7d8c9;
  color: #3b2c25;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}
.footer-btn:hover {
  opacity: 0.9;
}
.footer-text {
    font-family: Great Vibes,cursive;
}
.footer-bottom {
  border-top: 1px solid rgb(95, 53, 53);
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}